<div class="wrapper">
  <div class="container">
    <h2 class="top_text">
      「Read & Memo」</h2><br>
    <p class="top_text">
        読んだ本を</p>
    <p class="top_text">
        自分のチカラにする</p>
    <p class="top_text">
        要約サービスです</p>
    </div>
  </div>
