<div class="wrapper">
  <div class="container">
    <h2 class="top_text">
      「Read & Memo」は<br></h2>
    <h2 class="top_text">
        読んだ本を<br></h2>
    <h2 class="top_text">
        自分のチカラにするための<br></h2>
    <h2 class="top_text">
        セルフ要約サービスです</h2>
    </div>
  </div>
</div>
