* {
  box-sizing: border-box;
  color: black;
}


body {
  background-color: #f0f8ff;
  color: #2196F3;
}



.header-space {
  width: 100%;
  display: flex;
  background-color: 	white;
  border-bottom: double;
}

.header-logo {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 5px;
}

.header-menus {
  margin-left: auto;
  font-size: 15px;
  padding-top: 25px;
}




li {
  list-style: none;
  display: inline;
  margin: 10px;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

li:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.form-error {
  text-align: center;
  font-size: 15px;
  color: red;
  padding-top: 30px;
}

.top_text_small {
  font-size: 25px;
  text-align: center;
}



html, body, header {
  height: 100%;
}

.wrapper {
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2015/12/08/01/04/bookshelf-1082309_960_720.jpg);
  opacity: 0.8;
  height: 100%;
  width: 100%;
  color: white;
  background-position: center;
  background-size: cover;
  position: relative;
}

.wrapper:before {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.container {
  position: absolute;
  max-width: 1400px;
  width: 100%;
  top: 50%;
 left: 50%;
 transform: translateY(-50%) translateX(-50%);
  max-height: 770px;
}

.wrapper h1 {
  font-family: "impact";
  font-size: 30px;
  letter-spacing: 10px;
}

 .top_text {
  letter-spacing: 20px;
  line-height: 25px;
  color: white;
}
