/* user/index */

.users_list_container {
  padding-bottom: 15px;
}

.users_index_list {
  margin-top: 20px;
margin-bottom: 20px;
width: 25%;
float: left;
text-align: center;

  img {
   width: 80px;
   height: 80px;
   border-radius: 10%;
   box-shadow: 0 0 8px gray;
  }
}



/* login */

.user_login_item {
  font-size: 15px;
padding-top: 5px;
word-break: break-all;
text-align: center;
}

.user_login {
  margin-top: 40px;
  margin-left: 500px;
  padding: 50px;
  background-color: white;
  border: 1px solid #e6ecf0;
  display: table;

  p {
    padding: 5px;
  }
}



/* user/new */

.user_new {
  font-size: 15px;
padding-top: 5px;
word-break: break-all;
text-align: center;
}

.user_new_item {
  margin-top: 40px;
  margin-left: 447px;
  padding: 50px;
  background-color: white;
  border: 1px solid #e6ecf0;
  display: table;

  p {
    padding: 5px;
  }
}



/* user/show */

.user_show {
  text-align: center;
}

.user_info {
  margin-top: 40px;
}

.user_show_container {
  text-align: center;
  margin-left: 435px;
  background-color: white;
  display: table;
}

.user_show_post_info {
  font-size: 15px;
  width: 400px;
  padding-top: 5px;
  word-break: break-all;
}

.user_posts_container {
  margin-top: 40px;
  margin-left: 435px;
  background-color: white;
  border: 1px solid #e6ecf0;
  display: table;
}

.user_posts_img {
  padding-bottom: 35px;
    border-bottom: 5px solid #e6ecf0;
}



/* user/edit */

.user-index {
  text-align: center;
}

.user-edit-container {
  margin-top: 40px;
  margin-left: 440px;
  padding: 50px;
  background-color: white;
  border: 1px solid #e6ecf0;
  display: table;
}

.user-edit-item {
width: 300px;
font-size: 15px;
padding-top: 5px;
word-break: break-all;
}
