/* user/index */
.users_index h1 {
  text-align: center;
}

.users_list_container {
  padding-bottom: 15px;
}

.users_index_list {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 25%;
  float: left;
  text-align: center;

  img {
   width: 80px;
   height: 80px;
   border-radius: 10%;
   box-shadow: 0 0 8px gray;
  }
}



/* users/login_form */

.user_login_item {
  font-size: 15px;
padding-top: 5px;
width: 320px;
margin: 0 auto;
text-align: center;
}

.user_login {
  padding: 50px;
  margin-left: 10px;
  background-color: white;
  border: 1px solid #e6ecf0;
  display: table;

}



/* user/new */

.user_new {
  font-size: 15px;
padding-top: 5px;

text-align: center;
}

.user-new-item {
  margin-top: 50px;
  padding: 0px;
  margin-left: -20px;
  width: 320px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #e6ecf0;
  display: table;

  p {
    padding: 5px;
  }
}



/* user/show */

.user_show {
  width: 370px;
  margin: 0 auto;
  text-align: center;
}

.user_info {
  margin-top: 40px;
}

.user_posts_container {
  margin-top: 40px;
  margin-left: -15px;
  background-color: white;
  border: 1px solid #e6ecf0;
  display: table;
}

.user_posts_img {
  padding-bottom: 35px;
  border-bottom: 5px solid #e6ecf0;
}



/* user/edit */

.user-edit-index {
  width: 370px;
  margin: 0 auto;
  text-align: center;
}

.user-edit-container {
  margin-top: 40px;
  margin-left: -20px;
  padding: 50px;
  background-color: white;
  border: 1px solid #e6ecf0;
  display: table;
}

.user-edit-item {
width: 300px;
font-size: 15px;
padding-top: 5px;
word-break: break-all;
}
